In [1]:
# Read the contents of csv file

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data

  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass
1        Assy    control   -40    Fail
2         CSH    control   -55    Fail
3         Rel    control   125    Pass

In [2]:
# Read the header of csv file

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data.columns

Index(['Device Type', 'Lot Number', 'Temp', 'Remarks'], dtype='object')

In [3]:
# Read the specific column of a csv file

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data[['Lot Number']]

  Lot Number
0    control
1    control
2    control
3    control

In [4]:
# Exclude in printing a specific column of a csv file

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data[data.columns.difference(['Temp'])]

  Device Type Lot Number Remarks
0          EP    control    Pass
1        Assy    control    Fail
2         CSH    control    Fail
3         Rel    control    Pass

In [5]:
# Selecting specific rows of a csv file

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data[0:2]

  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass
1        Assy    control   -40    Fail

In [6]:
# Selecting specific rows and columns of a csv file [rows, columns]

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data.iloc[0:3, 1:3]

  Lot Number  Temp
0    control    25
1    control   -40
2    control   -55

In [7]:
# Selecting specific data of a csv file using criteria

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data[data.Temp==25]

  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass

In [8]:
# Selecting specific data of a csv file using criteria

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data[data.Temp==25]

  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass

In [9]:
#gathering and parsing multiple files

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data_2=pd.read_csv("C:/Users/dalindog/Documents/Example_2.csv")
data_3=pd.read_csv("C:/Users/dalindog/Documents/Example_3.csv")

print(data)
print('--------------end--------------------')
print(data_2)
print('--------------end--------------------')
print(data_3)

  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass
1        Assy    control   -40    Fail
2         CSH    control   -55    Fail
3         Rel    control   125    Pass
--------------end--------------------
  Device Type Lot Number  Temp Remarks
0        TSMC     qual_1    25    Pass
1          GF     qual_2    25    Pass
2      Dongbu     qual_3   -55    Fail
3         IBM     qual_4   125    Fail
--------------end--------------------
  Device Type Lot Number  Temp Remarks
0         ASE     qual_1    25    Pass
1      Carsem     qual_2   -55    Fail
2      Cirtek     qual_4   125    Pass
3       Amkor     qual_4   150    Fail

In [10]:
#combine/merge the content of multiple csv files

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data_2=pd.read_csv("C:/Users/dalindog/Documents/Example_2.csv")
data_3=pd.read_csv("C:/Users/dalindog/Documents/Example_3.csv")

pd.concat([data,data_2,data_3])

  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass
1        Assy    control   -40    Fail
2         CSH    control   -55    Fail
3         Rel    control   125    Pass
0        TSMC     qual_1    25    Pass
1          GF     qual_2    25    Pass
2      Dongbu     qual_3   -55    Fail
3         IBM     qual_4   125    Fail
0         ASE     qual_1    25    Pass
1      Carsem     qual_2   -55    Fail
2      Cirtek     qual_4   125    Pass
3       Amkor     qual_4   150    Fail

In [11]:
#save the merged data into new csv file

import pandas as pd
data=pd.read_csv("C:/Users/dalindog/Documents/Example.csv")
data_2=pd.read_csv("C:/Users/dalindog/Documents/Example_2.csv")
data_3=pd.read_csv("C:/Users/dalindog/Documents/Example_3.csv")

x=pd.concat([data,data_2,data_3])
x.to_csv("C:/Users/dalindog/Documents/Example_4.csv", index=False)  #remember to define the index
data_4=pd.read_csv("C:/Users/dalindog/Documents/Example_4.csv")

print(data_4)

   Device Type Lot Number  Temp Remarks
0           EP    control    25    Pass
1         Assy    control   -40    Fail
2          CSH    control   -55    Fail
3          Rel    control   125    Pass
4         TSMC     qual_1    25    Pass
5           GF     qual_2    25    Pass
6       Dongbu     qual_3   -55    Fail
7          IBM     qual_4   125    Fail
8          ASE     qual_1    25    Pass
9       Carsem     qual_2   -55    Fail
10      Cirtek     qual_4   125    Pass
11       Amkor     qual_4   150    Fail

In [12]:
#read excel file
import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy')
print(data)

  Device Type Lot Number  Temp Remarks
0         ASE     qual_1    25    Pass
1      Carsem     qual_2   -55    Fail
2      Cirtek     qual_4   125    Pass
3       Amkor     qual_4   150    Fail

In [13]:
#print header/column name of excel file

import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy')
print(data.columns)

Index(['Device Type', 'Lot Number', 'Temp', 'Remarks'], dtype='object')

In [14]:
#select specific data using criteria

import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy')
data.loc[data['Temp']>25]

  Device Type Lot Number  Temp Remarks
2      Cirtek     qual_4   125    Pass
3       Amkor     qual_4   150    Fail

In [15]:
#select specific data using multiple criteria

import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy', usecol=3)
data.loc[data['Remarks']=='Pass']

  Device Type Lot Number  Temp Remarks
0         ASE     qual_1    25    Pass
2      Cirtek     qual_4   125    Pass

In [16]:
import pandas as pd
from pandas import ExcelWriter
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy', usecol=3)
filter=data.loc[data['Remarks']=='Pass']

#determine the new file
writer=ExcelWriter("C:/Users/dalindog/Documents/empty.xlsx")

#writing excel file
filter.to_excel(writer, 'Sheet1', index=False)
writer.save()

In [17]:
#read the new excel file
import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/empty.xlsx")
data

  Device Type Lot Number  Temp Remarks
0         ASE     qual_1    25    Pass
1      Cirtek     qual_4   125    Pass

In [18]:
#inspect contents of excel files

import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy')
data_2=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='EP')
data_3=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Foundry')
data_4=pd.read_excel("C:/Users/dalindog/Documents/empty.xlsx")
print(data)
print('----------------end---------------')
print(data_2)
print('----------------end---------------')
print(data_3)
print('----------------end---------------')

  Device Type Lot Number  Temp Remarks
0         ASE     qual_1    25    Pass
1      Carsem     qual_2   -55    Fail
2      Cirtek     qual_4   125    Pass
3       Amkor     qual_4   150    Fail
----------------end---------------
  Device Type Lot Number  Temp Remarks
0          EP    control    25    Pass
1        Assy    control   -40    Fail
2         CSH    control   -55    Fail
3         Rel    control   125    Pass
----------------end---------------
  Device Type Lot Number  Temp Remarks
0        TSMC     qual_1    25    Pass
1          GF     qual_2    25    Pass
2      Dongbu     qual_3   -55    Fail
3         IBM     qual_4   125    Fail
----------------end---------------

In [19]:
#merge different excel files
import pandas as pd
data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy')
data_2=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='EP')
data_3=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Foundry')
data_4=pd.read_excel("C:/Users/dalindog/Documents/empty.xlsx")
merged=pd.concat([data,data_2,data_3,data_4],axis=0)
print(merged)

  Device Type Lot Number  Temp Remarks
0         ASE     qual_1    25    Pass
1      Carsem     qual_2   -55    Fail
2      Cirtek     qual_4   125    Pass
3       Amkor     qual_4   150    Fail
0          EP    control    25    Pass
1        Assy    control   -40    Fail
2         CSH    control   -55    Fail
3         Rel    control   125    Pass
0        TSMC     qual_1    25    Pass
1          GF     qual_2    25    Pass
2      Dongbu     qual_3   -55    Fail
3         IBM     qual_4   125    Fail
0         ASE     qual_1    25    Pass
1      Cirtek     qual_4   125    Pass

In [20]:
#save the merged data into a new excel file
import pandas as pd
from pandas import ExcelWriter

data=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Assy')
data_2=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='EP')
data_3=pd.read_excel("C:/Users/dalindog/Documents/Qual.xlsx", sheet_name='Foundry')
data_4=pd.read_excel("C:/Users/dalindog/Documents/empty.xlsx")
merged=pd.concat([data,data_2,data_3,data_4],axis=0)

#determine the new file
writer=ExcelWriter("C:/Users/dalindog/Documents/merged_file.xlsx")

#writing excel file
merged.to_excel(writer,'Sheet1', index=False )
writer.save()

In [21]:
#read a PDF file
import PyPDF2
pdfobject=open("C:/Users/dalindog/Documents/Sparta.pdf", 'rb')  #creating pdf file object, rb means read binary
pdfReader=PyPDF2.PdfFileReader(pdfobject)
pdfReader.getDocumentInfo()

{'/Author': 'Alindog-Palon, Debbie',
 '/Creator': 'Microsoft® Word for Office 365',
 '/CreationDate': "D:20201129204002+08'00'",
 '/ModDate': "D:20201129204002+08'00'",
 '/Producer': 'Microsoft® Word for Office 365'}

In [22]:
#number of pages
import PyPDF2
pdfobject=open("C:/Users/dalindog/Documents/Sparta.pdf", 'rb')  #creating pdf file object, rb means read binary
pdfReader=PyPDF2.PdfFileReader(pdfobject)
pdfReader.numPages

2

In [23]:
#extracting text from a specific pdf page

import PyPDF2
pdfobject=open("C:/Users/dalindog/Documents/Sparta.pdf", 'rb')  #creating pdf file object, rb means read binary
pdfReader=PyPDF2.PdfFileReader(pdfobject)
pageObject=pdfReader.getPage(0)
print(pageObject.extractText())

PAGE

1


Good Day Everyone, for this session, we  are going to discuss how to read csv files

and how to select specific data from a csv  file. CSV stands for comma separated values.

A csv file is a plain text file that uses specific  structuring to arrange tabular data. I have here

A csv file named sales.csv that contains the  sales information of different salesperson from

different companies (show content of sales.csv).

If we want to know the structure of the csv file,

we can also use notepad to open the  file (show content of sales.txt).

As observed, the data are separated by commas

In [24]:
#extracting text from all pages of pdf file
import PyPDF2
pdfobject=open("C:/Users/dalindog/Documents/Sparta.pdf", 'rb')  #creating pdf file object, rb means read binary
pdfReader=PyPDF2.PdfFileReader(pdfobject)


x=pdfReader.numPages
for i in range(x):

    pageObject=pdfReader.getPage(i)
    print(pageObject.extractText())

PAGE

1


Good Day Everyone, for this session, we  are going to discuss how to read csv files

and how to select specific data from a csv  file. CSV stands for comma separated values.

A csv file is a plain text file that uses specific  structuring to arrange tabular data. I have here

A csv file named sales.csv that contains the  sales information of different salesperson from

different companies (show content of sales.csv).

If we want to know the structure of the csv file,

we can also use notepad to open the  file (show content of sales.txt).

As observed, the data are separated by commas

























PAGE 2


The term for the characters that separate  the values are called delimiters
.


Aside from commas, other popular delimiters  are colons, semicolons and tabs.





structure. Python is very sensitive  when it comes to the structure of its code.


You can
pause the video anytime  to copy and study the code.

In [25]:
#WEB SCRAPING

import requests
import bs4    # beautiful soup
import lxml

req=requests.get('https://en.wikipedia.org/wiki/Python_(programming_language)')   #requests object
req.text   #html code

In [ ]:
#WEB SCRAPING,convert html into Beautiful soup format

import requests
import bs4    # beautiful soup
import lxml

req=requests.get('https://en.wikipedia.org/wiki/Python_(programming_language)')   #requests object
req.text   #html code

data=bs4.BeautifulSoup(req.text,'lxml')  #beautiful soup object

In [ ]:
#WEB SCRAPING,get the title

import requests
import bs4    # beautiful soup
import lxml

req=requests.get('https://en.wikipedia.org/wiki/Python_(programming_language)')   #requests object
req.text   #html code

data=bs4.BeautifulSoup(req.text,'lxml')  #beautiful soup object
Title=data.select('title')  # get the data tagged as title
Title

In [ ]:
#WEB SCRAPING,get the data tagged as headline

import requests
import bs4    # beautiful soup
import lxml

req=requests.get('https://en.wikipedia.org/wiki/Python_(programming_language)')   #requests object
req.text   #html code

data=bs4.BeautifulSoup(req.text,'lxml')  #beautiful soup object
head=data.select('.mw-headline')  # get the data tagged as headline
head

In [ ]:
head=data.select('.mw-headline')  # get the data tagged as headline
x=len(head)

for row in range(x):
    print(head[row].getText())

In [ ]:
#extract the review from a beach resort, https://www.kingandprince.com/

#WEB SCRAPING

from bs4 import BeautifulSoup
import urllib.request
import re                        #regular expression


url='https://www.kingandprince.com/dining-guest-reviews.aspx'   #requests object
page=urllib.request.urlopen(url)                                #connect to website
soup=BeautifulSoup(page,'html.parser')
print(soup)

In [ ]:
contents=soup.find_all('p')
print(contents)

In [ ]:
content=[]

for i in contents:
    content.append(i.getText().split('\n')[0])
print(content)

In [ ]:
authors=[]
comments=[]

i=0

#for i in range (len(content)):
#    authors.append(content[i])
#    i+=2   
    
while i < len(content):
    authors.append(content[i])
    print (i)
    i=i+2

j = 0
while j < len(authors):
    print (authors[j])
    j=j+1

In [19]:
# extract the review from a beach resort, https://www.kingandprince.com/

# WEB SCRAPING

from bs4 import BeautifulSoup
import urllib.request
import re  # regular expression

url = 'https://www.kingandprince.com/dining-guest-reviews.aspx'  # requests object
page = urllib.request.urlopen(url)  # connect to website
soup = BeautifulSoup(page, 'html.parser')
#print(soup)


contents = soup.find_all('p')
#print(contents)


content = []

for i in contents:
    content.append(i.getText().split('\n')[0])
#print(content)


authors = []
comments = []

i = 0
while i < len(content):
    if i==0 or i % 2 == 0:
        authors.append(content[i])
    else:
        comments.append(content[i])

    i+=1


# print(authors)
# print('---------------------------------------end---------------------------------------------')
# print('---------------------------------------end---------------------------------------------')
# print(comments)

df=pd.DataFrame(list(zip(authors,comments)), columns=['Authors', "Comments"])
                  
df = df[0:15]
df

,Authors,Comments
0,"Elizabeth C., from Guest Comment, says:","Had dinner with girl friends. Menu is perfect,..."
1,"Judith S., from Guest Comment, says:",Visited as a guest in the Echo restaurant for ...
2,"Joshua C., from TripAdvisor, says:",We had lunch here a few times while on the isl...
3,"Victoria C., from Guest Comment, says:",Hello. Please give our thanks to the Manager(s...
4,"Anonymous, from TripAdvisor, says:",Spent 3 nights at this resort earlier this mon...
5,"Peita, from Guest Survey, says:",Rachel at the Pool (drinks server) was so gorg...
6,"Mindy, from TripAdvisor, says:",I had lunch with some of my colleagues at Echo...
7,"Phil, from TripAdvisor says:",Dinner in the King and Prince's new restaurant...
8,"Judy S, in letter, says:","The food was absolutely wonderful, from prepar..."
9,"Anonymous, from TripAdvisor, says:",Although we didn't go into the onsite restaura...
10,"Leigh C., from Guest Survey, says:",My only (dining) experience was ordering a piz...
11,"Dave H., from TripAdvisor, says:",I was expecting the food here to follow in the...
12,"Fran K., from Guest Comment, says:",Lovely lunch today. Ordered the crab cake sand...
13,"Anonymous, from TripAdvisor, says:","The food was fresh, properly prepared and a gr..."
14,"Jessica W., from Guest Letter, says:",Just finished our annual stay at the King and ...